%html
  %head
    %title= "TweetFindr :: Search Twitter for #{@searchstr}"
    %link{ :rel => 'stylesheet', :href => 'findr.css', :type => 'text/css'}
  %body
    / this view is powered by HAML
    %center
      #sysmessage.lightgray{ :align => 'center'}= @sysmessage
      %div{ :align => 'center', :width => '80%'}
        =link_to_home
        %h1 
          twitter search for
          %span.yellow 
            = @searchstr

        - @tweets.each do |tweet|
          .twit
            - userhome = "http://twitter.com/" + tweet.from_user
            - url = /(http?:\/\/[-\w\.]+[\d+]?[\/\w\/_\.\~]*[\?\S+]?)/
            - tweet.text.gsub!(url, '<a class="link" href="\1">\1</a>')
            - tweet.text.gsub!(/\@(\w+)/, '<a class="people" href="/@\1" title="search for @\1">@\1</a>')
            - tweet.text.gsub!(/\#(\w+)/, '<a class="hash" href="/\1" title="search for #\1">#\1</a>')
            %hr
            %p
              %a{ :href => userhome, :title => "view @" + tweet.from_user + "'s Twitter page" }
                %img.avatar{ :src => tweet.profile_image_url, :alt => tweet.from_user + "'s avatar" }>
              = tweet.text
            %span
              tweet by
              = peoplelink(tweet.from_user)
              on
              %a{ :href => userhome + "/statuses/" + tweet.id.to_s}<
                = Time.parse(tweet.created_at.to_s).strftime('%d/%m/%Y at %H:%M:%S')
            %span.tweetclient
              - url = /(http?:\/\/[-\w\.]+[\d+]?[\/\w\/_\.\~]*)/
              - clientlink = tweet.source.match(url)
              - clientname = tweet.source.match(/&gt;(.*)&lt;/).to_s.slice(4..-5)
              %a.tweetclient{ :href => clientlink, :title => clientname}
                - unless @iconhash[clientname.downcase].nil?
                  - iconsrc = '/icons/' + @iconhash[clientname.downcase]
                  %img{:src => iconsrc, :alt => clientname, :height => 24, :border => '0', :style => 'margin-bottom:-5px;'}
                - else
                  via 
                  = clientname

      %br
      %hr{ :width => '80%'}
      .copyright
        Powered by 
        %a{ :href => '/sinatra'} Sinatra
        + 
        %a{ :href => '/twitter'} Twitter
        (
        %a{ :href => "http://github.com/mdw/tweetfindr/tree/master", :title => "see the source code"} the source
        )
        %a{ :href => "http://twitter.com/tweetfindr", :title => "follow me on twitter"} follow me
