%html
  %head
    - sstring = @searchchar == '%3A' ? params[:tag] : "##{params[:tag]}"
    %title= "TweetFindr :: Search Twitter for " + sstring
    %link{:rel => 'stylesheet', :href => 'vend.css', :type => 'text/css'}
  %body
    %center
      %a{:href => '/', :title => 'Powered by Sinatra and Twitter'} %img{:src => 'hat.gif', :border => '0', :alt => 'Frankie Baby', :class => 'mainpic'}
      %h1= "twitter search for " + sstring

      - for entry in @entries
        .twit
          - url = /(http?:\/\/[-\w\.]+[\d+]?[\/\w\/_\.\~]*[\?\S+]?)/
          - entry['title'].gsub!(url, '<a class="link" href="\1">\1</a>')
          - entry['title'].gsub!(/\#(\w+)/, '<a class="hash" href="/\1">#\1</a>')
          - entry['title'].gsub!(/\@(\w+)/, '<a class="people" href="/@\1">@\1</a>')
          %hr{:width => '60%'}
          %p= entry['title']
          %span
            tweet by
            - shortauth = entry['author'].split(/ /)
            %a{:href => '/@' + shortauth[0]}= '@' + entry['author']
            on
            - nicetime = Time.parse(entry['published_time'].to_s).strftime('%d/%m/%Y at %H:%M:%S')
            %a{:href=>entry['link']}= nicetime

      %hr{:width => '80%'}
      %div{:class => 'copyright'}
        %small= 'Powered by <a href=/sinatra>Sinatra</a> + <a href=/twitter>Twitter</a> (<a href="http://github.com/mdw/twitvend/tree/master">the source</a>)'
